body{
    font-family: 'roboto';
}

.map{
    color: white;
}

.link{
    color: #ACACB0;
}

.navigation{
    width: 294px;
    height: 16px;
    color: black;
}
.navigation:hover,
.navigation:focus{
    color: #2196F3;
}

.buttons{
    background-color: #F5F4FA;
}
.buttons:hover,
.buttons:focus{
    background-color: #2196F3;
}
.buttons-text{
    color: black;
}
.buttons-text:hover,
.buttons-text:focus{
    color: white;
}
.description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}

.name{
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

footer{
    background-color: #2F303A;
}

.web-studio{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}

.web{
    color: #2196F3;
}
.web-wite{
    color: white;
}