/*белый #ffffff; */
/*цвет фона #2F303A; */
/*акцент #2196F3; */
/* прозрачный color: rgba(255, 255, 255, 0.6);*/



:root{
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --acent-color: #2196F3;
}

/*---------------------------------------------------------СТУДИЯ---------------------------------------------------*/


/*--------Шапка--------*/
.logo{

}
.nav-link{
    color:#212121;

}
.nav-link:hover,:focus{
    color: var(--acent-color);
}
.nav-link.current{
    color: var(--acent-color)
}
.header-link{
    color: var(--primary-text-color)
}
.header-link:hover,:focus{
    color: var(--acent-color);
}

/*--------Герой--------*/

.hero{
    background-color:#2F303A;
}
.button{
    background-color: var(--acent-color);
    color: #ffffff;
}
.button:hover:focus{
}
.hero-title{

    color: #ffffff;
}

/*--------Особенности--------*/

.features-title{
    color: var(--title-text-color)
}

.features,.p{
    color: var(--primary-text-color)
}

/*--------Чем мы занимаемся--------*/

.work-title{
    color: var(--title-text-color)
}


/*--------Наша команда--------*/

.team{
    background-color: #F5F4FA;
}
.team-title{
    color: var(--title-text-color)
}
.team-name{
    color: var(--title-text-color)
}
.team-profession{
    color: var(--primary-text-color)
}

/*--------Подвал--------*/

footer{
    background-color:#2F303A ;
}
.google-link{
    color: #ffffff;
}
.footer-link{
    color: rgba(255, 255, 255, 0.6);
}



/*---------------------------------------------------------ПОРТФОЛИО---------------------------------------------------*/